<div>
  <div *ngIf="isDataAvailable">
    <div> 
       <form [formGroup] = "rForm" (ngSubmit)="updateStation(rForm.value)">
         <div class="form-container">
         <div class="row columns">
           <h2 translate="UPDATE_STATION_LABEL" ></h2>
           <br/>
  
           <span class="pocbold" translate="NETWORK_LABEL"></span>  :    {{trafficStationBeanUpdate.reseau}}
           <br/>
           <span class="pocbold" translate="STATION_LABEL"></span> :    {{trafficStationBeanUpdate.station}}
           <br/>
           <span class="pocbold" translate="TRAFFIC_LABEL"></span> :    <input type="number"  formControlName="traffic" />
        
           <br/>
           <span class="pocbold" translate="CORRESPOND_LABEL"></span> :   <input type="text"  formControlName="correspondance" value="{{trafficStationBeanUpdate.listCorrespondance}}"/>
           <br/>   
           <span class="pocbold" translate="CITY_LABEL"></span> :  {{trafficStationBeanUpdate.ville}}
       
           <br/>   
           <span class="pocbold" translate="ARRONDISS_LABEL"></span> :  {{trafficStationBeanUpdate.arrondissement}}

           <br/>
           <br/>
           <input type="submit" class="button expanded" [value]="'UPDATE_BUTTON' | translate" [disabled]="disableButton(!rForm.valid)">
      </div>
    </div>
   </form>
 </div>
</div>
