# Copyright (c) 2018, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

app:

  # For cloud provider (Not used in on premise kubernetes)
  network:
    vpc_cidr:  ''
    region: '' 

  environment: 'dev'

  # Apparmor : enable or disable
  apparmor: disable

  # hscaler : hpa or keda
  hscaler: 'keda'

image:
  tag: 1.5.4

  # Context path of the repo nexus url
  repoNexusUrl: 'kagzouli'

secrets:
  # Mode can be 'internal' if it's for local development, 'aws' if it comes from AWS, and 'vault' for secure on premise
  mode: 'vault'

  # For vault option (Not used in aws mode)
  vault:

    # Url of the vault
    url: 'http://vault.vault.svc.cluster.local:8200'

    # Version of the kv vault
    version: 'v2'

stationredis:
  
  # Mode : internalredis or externalredis
  mode: 'internalredis'

  # redis password - Use only for secrets.mode=internal
  redisPassword: 'redis60'

  # Host name of the redis - Use only for mode=externalredis
  hostname: '' 

  port:  6379 

  usessl: false

  image:
    pullPolicy: Always

stationdb:
  mode: 'internaldb'

  # Directory where to put data of the database - Use only if mode=internaldb
  databaseData: data
  
  # Mysql root password -Use only for secrets.mode=internal
  mysqlRootPassword: root123
  
  # Mysql user
  mysqlUser: stationUser
  
  # Mysql password - Use only for secrets.mode=internal
  mysqlPassword: stationpwd

  # Use only if mode=externaldb for url external database
  jdbcDatabaseUrl: ''
  
  # Storage data - Use only if mode=internaldb
  storage: 
    
    # Storage type
    storageClass: none

    # Data Capacity
    dataCapacity: 150Mi 
 
    # Global Capacity
    globalCapacity: 1Gi

    # Use for AWS only
    efsid: '' 
    efsaccesspointid: ''
       
  image:
    pullPolicy: Always


stationback:

  # Nb replicas
  nbReplicas: 1

  # Nbr connexion datasource active db
  nbConnectionDbMaxActive: 15

  # Liste des ip alb du station back
  albiplist: []
  
  # Hostname
  hostname: stationback.exakaconsulting.org
  
  # External port
  externalPort: 80

  service:
    
    # Node port
    nodePort: 32610

    # Internal port
    internalPort: 4000
    
    # Type service:
    serviceType: ClusterIP 

  image:
    pullPolicy: Always   

  ingress:
 
    # type Ingress or TargetGroupBinding
    type: "Ingress"

    annotations:  
      kubernetes.io/ingress.class: "nginx"
      # kubernetes.io/ingress.class: alb
      # alb.ingress.kubernetes.io/scheme: internet-facing
      # alb.ingress.kubernetes.io/target-type: "ip"
      # alb.ingress.kubernetes.io/tags: Name=stationback-alb, Application=STATION
      # alb.ingress.kubernetes.io/healthcheck-path: "/StationDemoSecureWeb/health"
      # alb.ingress.kubernetes.io/listen-ports:   '[{"HTTP": 8080}]'
      # external-dns.alpha.kubernetes.io/hostname: stationback.exakaconsulting.org
      # alb.ingress.kubernetes.io/load-balancer-name: station-back-alb

stationfront:

  # Nb replicas
  nbReplicas: 1


  # Region 
  region: eu-west-3
  
  # Client id traf stat
  clientIdTrafStat: WcfX8ATlmstSllDzo0nCRqDQeWMcfu2A
  
  
  #Okta URL
  oktaUrl: dev-yqv4qm6lycv6w51d.us.auth0.com

  # Liste des ip alb du station front
  albiplist: []
  
  # Hostname
  hostname: station.exakaconsulting.org

  service:
    # External port
    internalPort: 5000
    
    # Node port
    nodePort: 32601
    
    # Type service:
    serviceType: ClusterIP 
 
  image:
    pullPolicy: Always  

  ingress:

     # type Ingress or TargetGroupBinding
    type: "Ingress"    

    annotations:
      kubernetes.io/ingress.class: "nginx"
  
