<div>
  <form [formGroup] = "rForm" (ngSubmit)="createStation(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h2 translate="CREATE_STATION_TITLE"></h2>

        <br/>
        
        <div *ngIf="errors != null && errors.length != 0">
          <TABLE BORDER="0">
            <tr *ngFor="let error of errors">
                        
              <td class="tdmessagelogin"> 
                <span class="messageerreur"> {{error}} </span>  
                     
              </td>
             </tr>
        </TABLE>
        <br/>        
        </div>        
  
        <label><span translate="NETWORK_LABEL"></span>
          <select formControlName="reseau" [(ngModel)]="reseauChoose" required>
            <option *ngFor="let reseauSelect of mapReseaux" [ngValue]="reseauSelect.key">{{reseauSelect.value}}</option>	  
         </select>    
        </label>
        <br/>
        <label><span translate="STATION_LABEL"></span>
          <input type="text"  formControlName="station" required maxlength="128" />
        </label>
        <br/>
        <label><span translate="TRAFFIC_LABEL"></span>
          <input type="number"  formControlName="traffic" required/>
        </label>
        <br/>
        <label><span translate="CORRESPOND_LABEL"></span>
          <input type="text"  formControlName="correspondance" maxlength="150"/>
        </label>
        <br/>   
        <label><span translate="CITY_LABEL"></span>
          <input type="text"  formControlName="ville" (ngModelChange)="changeVille($event)" required maxlength="150"/>
        </label>
        <br/>   
        <label *ngIf="displayArron"> <span translate="ARRONDISS_LABEL"></span>
          <input type="number"  formControlName="arrondissement"/>
        </label>

        <input type="submit" class="button expanded" value="Create" [disabled]="disableButton(!rForm.valid)">
      </div>
    </div>
  </form>
</div>
