
<section class="create-component">
  <h1>Create Station</h1>

  <br/>
  <br/>  
<center>
  <div v-if="errors != null && errors.length != 0">
    <TABLE BORDER="0">
      <tr v-for="error in errors">            
        <td class="tdmessagelogin"> 
          <span class="messageerreur"> {{error}} </span>               
        </td>
       </tr>
   </TABLE>
   <br/>  
  </div>        

  <br/>

    <form v-on:submit="sub" method="post">
      <table>
        <tr>
          <td>Reseau       : </td>
          <td>
           <select v-model="reseau" required>
              <!-- objet littéral en ligne -->
              <option v-for="reseauDispo in listeReseauxDispo" v-bind:value="reseauDispo.key">{{ reseauDispo.value}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Station         : </td>
          <td><input v-model.trim ="station" required></td>
        </tr>
        <tr>
          <td>Traffic         : </td>
          <td><input v-model="traffic" type="number" required></td>
        </tr>
        <tr>
            <td>Correspondan  : </td>
            <td><input v-model="correspondance" ></td>
          </tr>
        <tr>
          <td>Ville           : </td>
          <td><input v-model.trim ="ville" minlength="3" maxlength="30" v-on:change="changeVille" required></td>
        </tr>
          <tr>
            <td><div v-if="displayArron">Arrondissement  : </div></td>
            <td><div v-if="displayArron"><input v-model.trim ="arrondissement" type="number"></div></td>
          
         </tr>
        </div>
      </table>

      <br/>
      <br/>
      <button type="submit">Create</button>
    </form>

    <br/>
    <br/>
    <router-link :to="{ path: '/' }">Back</router-link>

</center>
</section>

