<div *ngIf="!givenName">
  <button class="button" (click)="login()">Login</button>
</div>`

<div *ngIf="givenName">
  
 <form [formGroup] = "rForm" (ngSubmit)="searchTrafficStations(rForm.value)">
  <div class="form-container">
    <div class="row columns">
      <h1>Search traffic stations (User : {{givenName}})</h1>
      <label>Reseau
        <select formControlName="reseau" [(ngModel)]="reseauChoose">
          <option *ngFor="let reseauSelect of mapReseaux" [ngValue]="reseauSelect.key">{{reseauSelect.value}}</option>	  
       </select>
      </label>
  
      <label>Station
        <input type="text" formControlName="station"/>
      </label>
      
       <label>
        Traffic min <input type="number"  formControlName="trafficMin" /> 
      </label>
      <label>
        Traffic max <input type="number"  formControlName="trafficMax" />
      </label>
      <label>
        Ville <input type="text"  formControlName="ville" />
      </label>
      <input type="submit" class="button expanded" value="Search" [disabled]="disableButton(!rForm.valid)">
    </div>
  </div>
</form>

 <br/>
 <br/>
   

<div class="searchbanqueaccount-container mat-elevation-z8">

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
     <mat-spinner></mat-spinner>
  </div>

<mat-table #table [dataSource]="dataSource"  matSort matSortActive="traffic" matSortDirection="desc" matSortDisableClear>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="station">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Station </mat-header-cell>
    <mat-cell *matCellDef="let element"><a (click)="selectStation(element.id)"> {{element.station}} </a> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="reseau">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Reseau </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.reseau}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="traffic">
    <mat-header-cell *matHeaderCellDef mat-sort-header> traffic</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.traffic}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="listCorrespondance">
      <mat-header-cell *matHeaderCellDef>  Correspond</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.listCorrespondance}} </mat-cell>
    </ng-container>

  <ng-container matColumnDef="ville">
    <mat-header-cell *matHeaderCellDef mat-sort-header>  Ville </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ville}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="arrond">
    <mat-header-cell *matHeaderCellDef>  Arrond </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.arrondissement}} </mat-cell>
  </ng-container>
 
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onStationClicked(row)"></mat-row>
</mat-table>

<mat-paginator [length]="numberElementsFound" [pageSize]="NUMBER_MAX_ELEMENTS_TAB" [pageSizeOptions]="[5, 10, 15,50]"></mat-paginator>


</div>

 <br/>
 <br/>
 <table>
  <tr>
    <td item-width="350"></td>
    <td item-width="150"><button class="button" (click)="createStation($event)">Create station</button></td>
  </tr>
 </table>


 <br/>
 <br/>
 </div>

