<div>
  <div *ngIf="isDataAvailable">
       
    <br/>

    <table>
      <tr>
         <th></th>
         <th></th>
      </tr>
      <tr>
        <td><span class="pocbold" translate="NETWORK_LABEL"></span>  :</td>
        <td> {{trafficStationBean.reseau}}</td>
      </tr>
      <tr>
        <td><span class="pocbold" translate="STATION_LABEL"></span>  :</td>
        <td> {{trafficStationBean.station}}</td>
      </tr>
      <tr>
        <td><span class="pocbold" translate="TRAFFIC_LABEL">         :</span></td>
        <td> {{trafficStationBean.traffic}}</td>
      </tr>
      <tr>
        <td><span class="pocbold" translate="CORRESPOND_LABEL">      :</span></td> 
        <td>{{trafficStationBean.listCorrespondance}}</td>
      </tr>
      <tr>
        <td><span class="pocbold" translate="CITY_LABEL">            :</span></td> 
        <td>{{trafficStationBean.ville}}</td>
      </tr>
      <tr>
        <td><span class="pocbold" translate="ARRONDISS_LABEL">       :</span> </td> 
        <td>{{trafficStationBean.arrondissement}}</td>
      </tr>
    </table>

    <br/>
    <br/>
    <table>
      <tr>
        <td item-width="150"></td>
        <td item-width="150"><button class="button" (click)="callUpdateStation($event)" translate="UPDATE_STATION_BUTTON"></button></td>
        <td item-width="150"><button class="button" (click)="callDeleteStation($event)" translate="DELETE_STATION_BUTTON"></button></td>      
      </tr>
    </table>
    
   
  </div>
</div>
  