version: '3.2'

services:
  station_db:
    image: "${REPO_NEXUS_URL}kagzouli/station-db:${VERSION}"
    deploy:
      replicas: 1 
      restart_policy:
        condition: on-failure
    restart: always
    ports:
      - "33060:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root123
      - MYSQL_DATABASE=StationDemoDb
      - MYSQL_USER=stationuser
      - MYSQL_PASSWORD=stationpwd
      
  station_redis:
    image: "redis:6.0.10"
    deploy:
      replicas: 1 
      restart_policy:
        condition: on-failure
    restart: always
    command: redis-server --bind station_redis --port 6000 --requirepass test650
    ports:
      - "6000:6379"      
      
  station_back:
    depends_on:
      - station_db
      - station_redis
    image: "${REPO_NEXUS_URL}kagzouli/station-back:${VERSION}"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    environment:
      - DB_TRAFSTAT_URL=jdbc:mysql://station_db:3306/StationDemoDb?connectTimeout=0
      - DB_TRAFSTAT_DRIVERCLASS=com.mysql.jdbc.Driver
      - DB_TRAFSTAT_MAXACTIVE=100
      - DB_TRAFSTAT_USERNAME=stationuser  
      - DB_TRAFSTAT_PASSWORD=stationpwd
      - REDIS_HOSTNAME=station_redis
      - REDIS_PORT=6000
      - REDIS_PASS=test650
      - REDIS_USESSL=false
    ports:
      - "4000:8080"
    #volumes:
    #  - logstationback:/usr/local/tomcat/logs
 
  station_front:
    image: "${REPO_NEXUS_URL}kagzouli/station-front-nginx:${VERSION}"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    environment:
      - CLIENT_ID_TRAF_STAT=WcfX8ATlmstSllDzo0nCRqDQeWMcfu2A
      - OKTA_URL=https://dev-yqv4qm6lycv6w51d.us.auth0.com
      - CONTEXT_BACK_URL=http://51.254.36.120:4000
    ports:
        - "80:8080"