apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: station-pv
  namespace: {{ .Release.Namespace | quote }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: {{ .Values.stationdb.storage.storageClass | quote}} 
