
<section class="search-component">

  <h1>Recherche station</h1>

  <br/>
  <br/>  
 <center>
  <div v-if="messages != null && messages.length != 0">
    <TABLE BORDER="0">
      <tr v-for="message in messages">            
        <td> 
          <span class="messageInfo"> {{message}} </span>               
        </td>
       </tr>
   </TABLE>
   <br/>  
  </div>   
</center>

 <br/>

  <center>
  <form v-on:submit="sub" action="#" method="post">
    <table>
      <tr>
        <td>Reseau       : </td>
        <select v-model="reseau">
            <!-- objet littéral en ligne -->
            <option v-for="reseauDispo in listeReseauxDispo" v-bind:value="reseauDispo.key">{{ reseauDispo.value}}</option>
          </select>
      </tr>
      <tr>
        <td>Station      : </td>
        <input v-model.trim ="station" >
      </tr>
      <tr>
        <td>Traffic Min : </td>
        <input v-model="trafficMin" type="number">
      </tr>
      <tr>
        <td>Traffic Max : </td>
        <input v-model="trafficMax" type="number">
      </tr>
      <tr>
        <td>Ville        : </td>
        <input v-model.trim ="ville" minlength="3" maxlength="30">
      </tr>
    </table>
  
    <br/>
    <br/>
    <button type="submit">Search</button>
  
    <br/>
    <br/>
    <br/>
    <vue-good-table
      title=""
      :columns="displayedColumns"
      :rows="resultSearchs"
      :paginate="true"
      :onClick="onClickFn"
      :perPage="20"/>


    <br/>
    <br/>
  </form>

  <button v-on:click="createComponent('createTest')">Create</button>
  <br/>
</center>
</section>

