
<section class="select-component">
  <h1>Select Station</h1>
      
  <br/>
  <br/>  
  <center>
   <form v-on:submit="sub"  method="post">
    <table>
        <tr>
          <td>Reseau       : </td>
          <td>{{reseau}}</td>
        </tr>
        <tr>
          <td>Station         : </td>
          <td>{{station}}</td>
        </tr>
        <tr>
          <td>Traffic         : </td>
          <td><input v-model="traffic" type="number" required></td>
        </tr>
        <tr>
            <td>Correspondan  : </td>
            <td><input v-model="correspondance" ></td>
          </tr>
        <tr>
          <td>Ville           : </td>
          <td>{{ville}}</td>
        </tr>
          <tr>
            <td><div v-if="displayArron">Arrondissement  : </div></td>
            <td><div v-if="displayArron">{{reseau}}</div></td>
          
         </tr>
        </div>
      </table>

      <br/>
      <br/>
      <table>
        <tr>
          <td class="buttonSelect"></td>
          <td class="buttonSelect"><button type="submit">Update</button></td>
        </tr>
      </table>
    </form>

    <br/>
    <table>
      <tr>
        <td class="buttonSelect"></td>
        <td class="buttonSelect"><button v-on:click="deleteStation()">Delete</button></td> 
      </tr>
    </table>
     
  </center>
</section>

