name: "[Repo] Build docker station on dockerhub"

#on: [pull_request]
on: 
  workflow_dispatch:
    inputs:

      docker_project_version:
        type: string
        default: 1.5.1
        description: station  project version
        required: true
env:
  NODEJS_VERSION: 18
  REPO_DOCKER_HUB: kagzouli

jobs:


  # Push station front to dockerhub
  push_db_dockerhub:
    runs-on: ubuntu-latest
    steps:
      
      # Retrieve a token for pull
      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v1
        with:
          application_id: ${{ secrets.APPLICATION_ID }}
          application_private_key: ${{ secrets.APPLICATION_PRIVATE_KEY }}


      # Retrieve current source
      - name: Checkout current 
        id: checkout-current
        uses: actions/checkout@v3
        with:
          path: current
          token: ${{ steps.get_workflow_token.outputs.token }}

      # Login to dockerhub
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build db docker
        id: build-db-docker
        run: docker build -t ${{ env.REPO_DOCKER_HUB }}/station-db StationDemoDb
        working-directory: current/application

      - name: Tag db docker
        id: tag-db-docker
        run: docker tag ${{ env.REPO_DOCKER_HUB }}/station-db:latest ${{ env.REPO_DOCKER_HUB }}/station-db:${{ github.event.inputs.docker_project_version}}

      - name: Push db docker
        id: push-db-docker
        run: docker push ${{ env.REPO_DOCKER_HUB }}/station-db:${{ github.event.inputs.docker_project_version}}
        
 



  build_backend:
    runs-on: ubuntu-latest
    steps:
      
      # Retrieve a token for pull
      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v1
        with:
          application_id: ${{ secrets.APPLICATION_ID }}
          application_private_key: ${{ secrets.APPLICATION_PRIVATE_KEY }}


      # Retrieve current source
      - name: Checkout current 
        id: checkout-current
        uses: actions/checkout@v3
        with:
          path: current
          token: ${{ steps.get_workflow_token.outputs.token }}

      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build Backend
        id: build_backend
        run: mvn --batch-mode --update-snapshots package
        working-directory: current/application/spring-java
 
      - name: Upload backend JAR
        id: upload-backendjar
        uses: actions/upload-artifact@v4
        with:
          name: backendjar
          path: current/application/spring-java/StationDemoWeb/target/StationDemoSecureWeb.jar

  push_back_dockerhub:
    runs-on: ubuntu-latest
    needs: build_backend
    steps:

     # Retrieve a token for pull
      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v1
        with:
          application_id: ${{ secrets.APPLICATION_ID }}
          application_private_key: ${{ secrets.APPLICATION_PRIVATE_KEY }}


      # Retrieve current source
      - name: Checkout current 
        id: checkout-current
        uses: actions/checkout@v3
        with:
          path: current
          token: ${{ steps.get_workflow_token.outputs.token }}

      # Download artifact
      - name: download backend JAR
        id: download-backendjar
        uses: actions/download-artifact@v4
        with:
          name: backendjar
          path: current/application/spring-java/StationDemoWeb/docker/


      # Debug
      - name: debug-karim
        id: debug-karim
        run: ls -lRt
        working-directory: current/application/spring-java/StationDemoWeb/docker/
 
 
      # Get AWS credentials
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build Backenddocker
        id: build-backend-docker
        run: docker build -t ${{ env.REPO_DOCKER_HUB }}/station-back .
        working-directory: current/application/spring-java/StationDemoWeb/docker
 
      - name: Tag Backenddocker
        id: tag-backend-docker
        run: docker tag ${{ env.REPO_DOCKER_HUB }}/station-back:latest ${{ env.REPO_DOCKER_HUB }}/station-back:${{ github.event.inputs.docker_project_version}}
 
            
      - name: Push Backenddocker
        id: push-backend-docker
        run: docker push ${{ env.REPO_DOCKER_HUB }}/station-back:${{ github.event.inputs.docker_project_version}}
 

            

  build_front:
    runs-on: ubuntu-latest
    steps:
      
      # Retrieve a token for pull
      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v1
        with:
          application_id: ${{ secrets.APPLICATION_ID }}
          application_private_key: ${{ secrets.APPLICATION_PRIVATE_KEY }}


      # Retrieve current source
      - name: Checkout current 
        id: checkout-current
        uses: actions/checkout@v3
        with:
          path: current
          token: ${{ steps.get_workflow_token.outputs.token }}

      # Install nodejs
      - name: Set up NodeJS ${{ env.NODEJS_VERSION}} 
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODEJS_VERSION}}
      - run: node --version
      
      # Build front
      - name: Install front Angular
        id: install-front-angular
        run: npm install
        working-directory: current/application/StationDemoClient/station-angular4-poc

      - name: Build front Angular
        id: build-front-angular
        run: npm run-script prod-zip
        working-directory: current/application/StationDemoClient/station-angular4-poc

      - name: Upload frontend zip
        id: upload-frontendangular
        uses: actions/upload-artifact@v4
        with:
          name: frontendangular
          path: current/application/StationDemoClient/station-angular4-poc/dist

        
  
  # Push station front to dockerhub
  push_front_dockerhub:
    runs-on: ubuntu-latest
    needs: build_front
    steps:

      # Retrieve a token for pull
      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v1
        with:
          application_id: ${{ secrets.APPLICATION_ID }}
          application_private_key: ${{ secrets.APPLICATION_PRIVATE_KEY }}


      # Retrieve current source
      - name: Checkout current 
        id: checkout-current
        uses: actions/checkout@v3
        with:
          path: current
          token: ${{ steps.get_workflow_token.outputs.token }}

      # Download artifact
      - name: download front end angular
        id: download-frontend-angular
        uses: actions/download-artifact@v4
        with:
          name: frontendangular
          path: current/application/StationDemoClient/station-angular4-poc/dockerwithnginx/dist


      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build frontendangular docker
        id: build-frontendangular-docker
        run: docker build -t ${{ env.REPO_DOCKER_HUB }}/station-front-nginx .
        working-directory: current/application/StationDemoClient/station-angular4-poc/dockerwithnginx
 
      - name: Tag frontendangular docker
        id: tag-frontendangular-docker
        run: docker tag ${{ env.REPO_DOCKER_HUB }}/station-front-nginx:latest ${{ env.REPO_DOCKER_HUB }}/station-front-nginx:${{ github.event.inputs.docker_project_version}}
 
            
      - name: Push frontendangular docker
        id: push-frontendangular-docker
        run: docker push ${{ env.REPO_DOCKER_HUB }}/station-front-nginx:${{ github.event.inputs.docker_project_version}}
  
            
 
   # Push station front to dockerhub
  tag_version_git:
    runs-on: ubuntu-latest
    needs: [push_db_dockerhub, push_back_dockerhub, push_front_dockerhub]
    if: github.ref == 'refs/heads/main'
    steps:

      # Retrieve a token for pull
      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v1
        with:
          application_id: ${{ secrets.APPLICATION_ID }}
          application_private_key: ${{ secrets.APPLICATION_PRIVATE_KEY }}


      # Retrieve current source
      - name: Checkout current 
        id: checkout-current
        uses: actions/checkout@v3
        with:
          path: current
          token: ${{ steps.get_workflow_token.outputs.token }}
    

      - name: Tag and push git source
        id: tag-git-version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          custom_tag: ${{ github.event.inputs.docker_project_version}}
          tag_prefix: v
          github_token: ${{ steps.get_workflow_token.outputs.token }}
 
